<div class="container">
  <h1 class='mt-3 text-center'>Edit a flat</h1>
  <%= simple_form_for(@flat) do |f|%>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :picture %>
  <%= f.input :price_per_night %>
  <%= f.input :number_of_guests %>
  <div class="text-center">
  <%= link_to 'Back', flats_path, class: 'btn btn-info mt-2'  %>
  <%= f.submit 'Edit it!', class: 'btn btn-success mt-2' %>
  </div>
  <% end %>
</div>
